<div class="container">
    <table ng-table="vm.users" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <td data-title="'First Name'" sortable="'firstName'">{{row.firstName }}</td>
            <td data-title="'Last Name'" sortable="'lastName'">{{row.lastName}}</td>
            <td data-title="'Email'" sortable="'email'">{{row.email}}</td>
            <td data-title="'Active'" sortable="'active'">{{row.active}}</td>
            <td data-title="'Managers'"> {{row.managerId}}</td>
            <td data-title="'Projects'"><select class="form-control" ng-options="item in row.projects"></select></td>
        </tr>
        <tr ng-if="vm.hasNoUsers()" class="emptyInbox">
            <th colspan="7">No Users.</th>
        </tr>
    </table>
</div>





