<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="col-md-4 col-md-offset-4">
    <h2 class="lead text-center">Edit Profile</h2>

    <form name="updateForm" novalidate="novalidate" ng-submit="vm.updateProfile(updateForm)">

        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstName" ng-model="vm.guest.firstName" required/>

            <div ng-messages="registerForm.firstName.$error"
                 ng-show="registerForm.firstName.$touched || registerForm.$submitted">
                <p ng-message="required"> First name is required</p>
            </div>
        </div>

        <div class="form-group">
            <label> Last Name </label>
            <input type="text" class="form-control" name="lastName" ng-model="vm.guest.lastName" required/>

            <div ng-messages="registerForm.lastName.$error"
                 ng-show="registerForm.lastName.$touched || registerForm.$submitted">
                <p ng-message="required"> Last name is required</p>
            </div>
        </div>

        <div class="form-group">
            <label>Email </label>
            <input type="text" class="form-control" name="email" ng-model="vm.guest.email" required
                   ng-pattern="/^.+@.+\..+$/"/>

            <div ng-messages="registerForm.email.$error"
                 ng-show="registerForm.email.$touched || registerForm.$submitted">
                <p ng-message="required"> Email is required</p>

                <p ng-message="pattern"> Email is invalid</p>
            </div>
        </div>

        <div class="form-group">
            <label>Password </label>
            <input type="password" class="form-control" name="password" ng-model="vm.guest.password" required
                   ng-minlength="5"/>

            <div ng-messages="registerForm.password.$error"
                 ng-show="registerForm.password.$touched || registerForm.$submitted">
                <p ng-message="required"> Password is required</p>

                <p ng-message="minlength"> Password is too short</p>
            </div>
        </div>

        <div class="form-group">
            <label>Verify Password </label>
            <input type="password" class="form-control" name="verifyPassword" ng-model="vm.verifyPassword" required
                   compare="vm.guest.password"/>

            <div ng-messages="registerForm.verifyPassword.$error"
                 ng-show="registerForm.verifyPassword.$touched || registerForm.$submitted">
                <p ng-message="required"> Confirm your password</p>
                <p ng-message="compare"> Passwords don't match</p>
            </div>
        </div>

        <div class="form-group">
            <label> Main Office </label>
            <select class="form-control" name="department" ng-model="vm.guest.department"
                    ng-options="item.code as item.name for item in vm.department">
                <option value="">Select Department</option>
            </select>

            <div ng-messages="registerForm.department.$error"
                 ng-show="registerForm.department.$touched || registerForm.$submitted">
                <p ng-message="required"> Location is required</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class=" btn btn-primary"> Update Profile</button>
        </div>
    </form>
</div>
